*.csv
*.dta
*.RData
*.Rds
*.tab
*.ipynb_checkpoints
*.log
*.bbl
*.bcf
*.fls
*.bcf
*.run.xml
**/*_cache/*
__pycache__/
*.shp
*.shx
*.qpj
*.dbf
*.gpkg
*.geojson
*.spq
*.pqt
*.pkl
*.parquet
*.pickle
pathrc
